### vscode/IDE stuff
.vscode/
.idea/

### Compiler stuff
# c++
bin/
obj/
# c#
cs.csproj
# rust
target/
tmp/
# ts
build/
node_modules/
#py
*.pyc
#c
out

### data output
**/out.json

### all .config files
**/*.env